
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block style %}

{% endblock style %}


{% block content %}
<div class="container"> <!-- Container for main items-->
    <header class="bg-dark py-1">
      <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
              <div class="col-lg-8 col-xl-7 col-xxl-6">
                  <div class="my-5 text-center text-xl-start">
                      <h1 class="display-5 fw-bolder text-white mb-2">{{'Welcome to Bagatea, the finest tea in all of SIT'}}</h1>
                      <p class="lead fw-normal text-white-50 mb-4">{{'We bring the best teas from all around the world to you in the most convenient way'}}</p>
                      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                      </div>
                  </div>
              </div>
              <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-3" src="{{ url_for('static', filename='images/bagatea_logo - Copy.PNG') }}" alt="..." /></div>
          </div>
      </div>
  </header>
</div>
{%  endblock %}

{% block footer %}
<a href="{{ url_for(request.endpoint) }}">en</a>&nbsp;
<a href="{{ url_for(request.endpoint) }}">zh</a>&nbsp;
{% endblock footer %}